In [2]:
import math

In [3]:
from sklearn import preprocessing as pp

In [4]:
import numpy as np
import pandas as pd

In [10]:
#data = np.genfromtxt("datasets/training_titanic_x_y_train.csv", delimiter=",",dtype=None)
#data.shape

# Change path as required
data=pd.read_csv("../train.csv")
data=data.drop(["Name","Cabin","Ticket"], axis=1)

genders = {"male": 0, "female": 1}
data1 = [data]

# Replacing male and female with 0 and 1 respectively

for dataset in data1:
    dataset['Sex'] = dataset['Sex'].map(genders)
    
    
embarked = {"S": 0, "Q": 1, "C": 2}
data11 = [data]

# Replacing embarked Status S,Q,C with 0,1,2 respectively


for dataset in data11:
    dataset['Embarked'] = dataset['Embarked'].map(embarked)
    
mean = data["Age"].mean()
std = data["Age"].std()

# filling Age column NaN values with mean
data.Age.fillna(mean,inplace=True)
data.Embarked.fillna(0,inplace=True)

# checking if any null values left in any feature columns

d = data.isnull().sum()
print(d)

data=data.values
data.shape

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
Survived    0
dtype: int64

(668, 8)

In [11]:
# data
x1= data[:,:-1]
# Target column
y1= data[:,-1]

# Taking a look at shapes of X1 and Y1
print(x1.shape,y1.shape)

(668, 7) (668,)

In [14]:
#data1 = np.genfromtxt("datasets/test_titanic_x_test.csv", delimiter=",")
#data1.shape
data1=pd.read_csv("../test.csv")
data1=data1.drop(["Name","Cabin","Ticket"], axis=1)

genders = {"male": 0, "female": 1}
data2 = [data1]

# Replacing male and female with 0 and 1 respectively

for dataset in data2:
    dataset['Sex'] = dataset['Sex'].map(genders)

embarked = {"S": 0, "Q": 1, "C": 2}
data22 = [data1]

# Replacing embarked Status S,Q,C with 0,1,2 respectively

for dataset in data22:
    dataset['Embarked'] = dataset['Embarked'].map(embarked)    

    
mean = data1["Age"].mean()
std = data1["Age"].std() 
# filling Age column NaN values with mean
data1.Age.fillna(mean,inplace=True)
data1.Embarked.fillna(0,inplace=True)
    
# checking if any null values left in any feature columns
d = data1.isnull().sum()
print(d) 

#data1.head(8)   
data1=data1.values
data1.shape

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

(223, 7)

In [15]:
x1.shape, data1.shape

((668, 7), (223, 7))

In [17]:
# Scaling data using StandardScaler()
scaler=pp.StandardScaler()
scaler.fit(x1)
x1=scaler.transform(x1)
data1=scaler.transform(data1)
print(data1)

[[-3.56680918e-01 -7.51267469e-01 -1.70280321e+00 ...  6.94117561e-01
   1.03461451e-01 -5.87892987e-01]
 [-1.56002866e+00  1.33108386e+00  1.51439177e+00 ... -4.76767618e-01
  -1.35477405e-01 -5.87892987e-01]
 [ 8.46666826e-01 -7.51267469e-01 -4.53892900e-04 ... -4.76767618e-01
  -5.37176352e-01  6.54868137e-01]
 ...
 [-1.56002866e+00  1.33108386e+00 -9.96589681e-01 ... -4.76767618e-01
   1.69663741e+00  1.89762926e+00]
 [ 8.46666826e-01 -7.51267469e-01  1.04358275e+00 ... -4.76767618e-01
  -5.65606207e-01 -5.87892987e-01]
 [-3.56680918e-01 -7.51267469e-01  5.33539639e-01 ...  1.86500274e+00
  -1.33914039e-01 -5.87892987e-01]]

In [18]:
import pandas as pd
# adding a new column 'c' with value 1 for all rows, I'm taking C value to be 1 for every datapoint, for both train and test data
df=pd.DataFrame(x1)
df["c"]= 1
x2=df.values
df1=pd.DataFrame(data1)
df1["c"]= 1
x3=df1.values

In [27]:
def step_gradient(points, learning_rate, m):
    m_slope = np.zeros(8)
    M = len(points)
    for i in range(M):
        x = points[i,:]
        y = y1[i]
        for j in range(len(x)):
            s=[]
            for k in range(len(x)):
                s.append(x[k]*m[k])
            h = 1/ (1+ math.exp(-1*sum(s)))
            m_slope[j] += (-1/M)* (y - h) * x[j]

    new_m = m - learning_rate*m_slope
    
    return new_m

In [39]:
def gd(points, learning_rate, num_iterations):
    m = np.zeros(8)
    #c = 0
    for i in range(num_iterations):
        m  = step_gradient(points, learning_rate, m )
        # printing cost after every 10th iteration
        if(i%10==0):
            print(i, " Cost: ", cost(points, m))
    return m

In the case of logistic regression cost function is :

\begin{equation*}
 \left( \sum_{k=1}^n (y - {\frac{1}{1+e^{-mx} }})^2  \right)
\end{equation*}

So here we use CROSS ENTROPY to measure the cost of our model.
<pre style="color:red">
                cost = -log(h(x))   if y = 1
                       -log(1-h(x)) if y = 0
</pre>
here h(x) is the hypothesis function for logistic regression(i.e sigmoid function) and y is the actual true output ,i.e the actual label , for the current considered values of features.

In [32]:
def cost(points, m):
    total_cost = 0
    M = len(points)
    for i in range(M):
        x = points[i,:]
        y = y1[i]
        b=[]
        for j in range(len(m)):
            b.append (m[j]*x[j])
        h = 1/ (1+math.exp(-1*sum(b)))
        total_cost += (-1/M)* (y*(math.log(h))+((1-y)*(math.log(1-h))))
        #print(total_cost)
    return total_cost

In [29]:
def predicted(x3,m):
    y_p=[]
    for i in range(len(x3)):
        b=[]
        x = x3[i,:]
        for j in range(len(m)):
            b.append(m[j]*x[j])
        h = 1/ (1+ math.exp(-1*sum(b)))   
        if h>0.5:
            y_p.append(1)
        elif h<=0.5:
            y_p.append(0)    
    return(y_p)

In [42]:
def run():
    learning_rate = 0.1
    num_iterations = 500
    m  = gd(x2, learning_rate, num_iterations)
    slope=m
    y_predicted=predicted(x3,slope)
    
    print('----------------')
    print(m)
    print('----------------')
    print(y_predicted)
    print('----------------')
    print(len(y_predicted))
    np.savetxt("y_titanic.csv",y_predicted,fmt='%.5f')

In [43]:
run()

0  Cost:  0.6805943185748515
10  Cost:  0.5939265277758915
20  Cost:  0.547980363391138
30  Cost:  0.5208735521939919
40  Cost:  0.5035439297689174
50  Cost:  0.491802611856719
60  Cost:  0.4834999591580369
70  Cost:  0.4774355109152224
80  Cost:  0.4728924184321809
90  Cost:  0.46941921399338044
100  Cost:  0.4667191881641422
110  Cost:  0.46459050597140916
120  Cost:  0.4628919429984522
130  Cost:  0.46152234108113843
140  Cost:  0.46040779325781067
150  Cost:  0.45949337820164304
160  Cost:  0.4587376755738395
170  Cost:  0.45810903740290243
180  Cost:  0.4575829997891751
190  Cost:  0.4571404532403933
200  Cost:  0.4567663284318294
210  Cost:  0.45644863866716
220  Cost:  0.4561777732518199
230  Cost:  0.45594596995192255
240  Cost:  0.45574691696012176
250  Cost:  0.45557544963744445
260  Cost:  0.4554273173746045
270  Cost:  0.4552990028545862
280  Cost:  0.4551875808416377
290  Cost:  0.45509060704461457
300  Cost:  0.455006030048976
310  Cost:  0.4549321210786338
320  Cost:  0.45486741763734284
330  Cost:  0.4548106780275339
340  Cost:  0.45476084444828296
350  Cost:  0.45471701290054267
360  Cost:  0.45467840852465974
370  Cost:  0.45464436529647195
380  Cost:  0.45461430923856505
390  Cost:  0.4545877444803993
400  Cost:  0.45456424163814196
410  Cost:  0.454543428091745
420  Cost:  0.4545249798203834
430  Cost:  0.45450861452309593
440  Cost:  0.45449408580350226
450  Cost:  0.45448117823879736
460  Cost:  0.4544697031862118
470  Cost:  0.4544594952066413
480  Cost:  0.45445040900643907
490  Cost:  0.4544423168156218
----------------
[-0.86607655  1.28723986 -0.48826995 -0.32829487 -0.13482588  0.07371549
  0.15063765 -0.50443527]
----------------
[0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0]
----------------
223